body {
	margin: auto;
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: 1920px 1275px;
    margin-top: 0px;
    max-width: 960px;
}

header {
	background-image: url("../img/companylogoBG.jpg");
	background-repeat: no-repeat;
	background-size: 960px, cover;
    height: 200px;
    width: 960px;
	margin: auto;
    background-position: 0px;
    display: block;
    text-align: center;

}

.header {
    font-family: "Lucida Console", "Times New Roman", "Times", "serif";
    font-size: 80px;
    position: relative;
    color: #FFFFFF;
    line-height: 200px;
    text-shadow:
     -1px -1px 0 #000,  
       1px -1px 0 #000,
        -1px 1px 0 #000,
          1px 1px 0 #000;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: #707070;
    width: 960px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #FFFFFF;
}

li {
    display: inline-block;
    text-align: center;
}

li a {
    font-family: "Arial", "Times New Roman", "Times", "serif";
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #444444;
}

.kopjes {
    font-family: "Arial", "Times New Roman", "Times", "serif";
    background-color: #2699FB;
    width: 960px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35pt;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

p {
    display: block;
    text-transform: uppercase; 
}

footer {
    font-family: "Arial", "Times New Roman", "Times", "serif";
    background-color: #000000;
    width: 960px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    text-align: center;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
}

img {
    float: left;
    display: block;
    max-width: calc(33% - 7px);
    height: 200px;
    object-fit: cover;
    width: 100%;
    border: 5px solid #FFFFFF;
    z-index: 1;
}

